body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background: url('../img/background.png') center/cover no-repeat;
}

.container {
    max-width: 1060px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    margin-top: 30px;
}

.logo {
    max-width: 150px;
    display: flex;
    text-decoration: none;
}

.logo-img {
    width: 53px;
    height: 47px;
    background: url('../img/logo-white.png') center/cover;
}

.logo:hover > .logo-img {
    background: url('../img/logo-orange.png') center/cover;
}

.logo:hover > .logo-text, 
.contacts a:hover,
.grid-item:hover > .grid-item-title {
    color: #F26522;
}

.logo-text {
    font-weight: 700;
    font-size: 29px;  
    color: #FFFFFF; 
    margin-left: 8px;  
}

.logo-text div:last-child {
    font-size: 18px;
}

.contacts {
    height: 47px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;      
}

.contacts a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.main-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 36px 56px;
    margin-top: 18px;
}

.grid-item {
    max-width: 100%;
    text-decoration: none;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: 220px;
    border: 3px solid;  
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, #ffffff 0%, #000000 100%);
    box-sizing: border-box;
    overflow: hidden;
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-block {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    background: #F26522;
    padding: 12px 16px;
    transform: translateY(100%);
    transition: all .5s linear;
}

.grid-item:hover .image-block {
    transform: translateY(0px);
}

.item-price {
    font-size: 10px;
    color: #FFFFFF;
}

.item-price span {
    display: block;
    font-size: 20px;
    margin-top: 8px;
}

.item-text {
    font-size: 14px;
    color: #FFFFFF;
    position: relative;
    margin-right: 24px;
}

.item-text::after {
    content: url('../img/arrow.svg');
    position: absolute;
    right: -24px;
}

.grid-item-title {
    font-size: 18px; 
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
}

.footer-text {
    font-size: 12px;    
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

